body {
    background-color: #111111;
    color: #ebebeb;
    font-size: 125%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
}

.site-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.site-nav {
    display: flex;
    max-width: 80rem;
    justify-content: space-between;
    margin: 0 auto;
    font-family: var(--font-mono);
}